body {
    
    background-color: #00c853;
    color: #fff;
}

.stripe.error .logo, 
.stripe.error .menu_open{
  opacity: 1 !important;
}

.title {
    margin: 0 auto;
    min-width: 660px;
    min-height: 90px;
/*    margin-left: 154px;*/
    margin-top: -5px;
}

.title h1 {
    text-align: center;
    font-size: 93px;
    letter-spacing: 2px;
    color: #e47012;
    font-weight: 100;
    font-family: "ShangoSansRegular";
}

.description {
    margin: 0 auto;
    width: 964px;
    font-style: italic;
/*    margin-left: 267px;*/
    margin-top: -32px;
    min-height: 75px;
    font-size: 28px;
    font-family: "Stem_bold";
    text-align: center;
    letter-spacing: 2px;
}

.help-menu {
    margin: 0;
    margin: 0 auto;
    padding: 0; 
/*    margin-left: 164px;*/
    font-family: "Stem_bold", sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 102px;
    letter-spacing: 3px;
}
.big-letter a {
  font-weight: bold;
  font-size: 28px;
  color: #fff;
  text-decoration: none;
}

.big-letter:hover  a {
  cursor: pointer;
  color: #ffeca8;
  text-decoration: underline;
}

.bottom{
  margin-bottom: -8px;
}
.help-submenu {
  display: none;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style: none;
  font-family: "Stem_regular", sans-serif;
}
.small-letter {
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-size: 16px;
}

.small-letter:hover {
    cursor: pointer;
    color: #ffeca8;
    text-decoration: underline
}

.bottom:hover .help-submenu{
  display: block;
}

